@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Protest+Riot&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.sidebar {
    /* border: 3px solid red; */
    /* border-radius: 12px; */
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    background-color: rgb(223, 218, 218);
    /* background: linear-gradient(to right, #C33764  , #1D2671); */
    /* background-image: linear-gradient(90deg, #FFDEE9 0%, #B5FFFC 100%); */
    width: 223px;
    font-family: "Bree Serif", serif;
    height: 100vh;
    position: absolute;
    /*ye ab content ko nhi dhakelega ushke upar se aayega*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.9s ease;
}

.sidebar nav {
    /* padding: 45px; */
    padding: 45px 32px;
}

.sidebar nav li {
    /* border:2px solid green; */
    list-style: none;
    font-size: 30px;
    padding: 33px 0px;

}

.sidebar nav li a {
    /* border: 1px solid red; */
    /* border: 1px solid red;sidebarGo
     */
    /* border-radius: 12px; */
    /* padding:5px 5px; */
    text-decoration: none;
    color: black;
}

.sidebar nav li a:hover {
    color: #701212;
    text-shadow: -3px -2px 2px white;
    /* text-shadow: 0 0 5px #03e9f4,0 0 15px #03e9f4,0 0 25px #03e9f4,0 0 100px #03e9f4; */
    font-weight: bold;
}

.main {
    /* background-color: yellow; */
    width: 90vw;
    margin-left: 240px;
    /*need to remove*/
}

.container {
    display: flex;
}

.infoContainer {
    /* background-color: rgb(202, 9, 128); */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Source Code Pro", monospace;
    /*font-size: 16px;*/
    /*remove it*/
}

.hello {
    font-size: 65px;
    /*font-size: 3em;*/
    /*remove it*/
}

.name {
    font-size: 50px;
    /*font-size: 3em;*/
    /*remove it*/
    font-weight: bold;
    font-family: "Fira Sans", sans-serif;
}

.about {
    font-size: 40px;
    /*font-size: 2.5em;*/
    /*remove it*/
}

.moreabout {
    font-size: 22px;
    /*font-size: 2em;*/
    /*remove it*/
    margin-top: 23px;
    font-family: "Fira Sans", sans-serif;
}

.buttons {
    margin-top: 34px;
    /*font-size: 16px;*/
    /*remove it*/
}

.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    /*font-size: 2em;*/
    /*remove it*/
    margin: 0px 3px;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: dodgerblue;
}

.btn-sm {
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0px;
    /* width:115px; */
    background: #8f2648;
}

.btn-sm:hover {
    background: #c0315e;
    color: white;
}

.btn-sub {
    width: 85px;
    font-size: 12px;
    font-weight: bolder;
    background-color: #831919;
}


.btn-sub:hover {
    background-color: #bd2727;
    color: white;
}

.devPic img {
    height: 58vh;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.contactform {
    font-family: "Fira Sans", sans-serif;
    padding: 0px 34px;
    /* padding-top: 100px; */
    /* margin: 88px; */
    margin-right: 150px;
    margin-top: 53px;
    /* filter: blur(10px); */
    /* border: 2px solid black; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-radius: 13px;
    /* background-color: white; */
    background-image: linear-gradient(0deg, #FFDEE9 0%, #feffb5 100%);
}

.contactform h1 {
    font-family: "Source Code Pro", monospace;
    padding: 12px 0px;
    /*remove it*/
}

.contactform form div {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    width: 26vw;
    /*remove it*/
    border-radius: 5px;
    margin: 6px 0px 0px 0px;
    padding: 3px;
    background: none;
    outline: none;
    /* border: 2px solid black; */
}

.contactform form div label {
    font-weight: bolder;
}

#emailHelp {
    font-size: 11px;
    color: midnightblue;
    margin: 0px 5px;
    padding: 3px 0px 0px 0px;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 24px;
    margin: 3px 0px;
}

.blogItem {
    font-family: "Fira Sans", sans-serif;
    margin: 20px;
}

.blogContainer {
    margin: 10px 88px;
    /* background-color: yellow; */
    /* border:2px solid black; */
    border-radius: 13px;
    margin-right: 150px;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(15deg, #FFDEE9 0%, #feffb5 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    padding: 30px;
}

.blogItem p {
    /* font-family: "Source Code Pro", monospace; */
    font-family: "Bree Serif", serif;
    padding:5px 0px;
}

.blogContainer h1 {
    font-family: "Fira Sans", sans-serif;
    margin-bottom: 30px;
    margin-left: 20px;
    color: #1565c0;
}

.intro {
    margin: 10px 100px;
    background-color: rgb(209, 206, 206);
    /* border: 2px solid black; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    padding:20px;
    margin-right: 150px;
    margin-top: 35px;
    width: 50vw;
}

.intro h2 {
    font-family: "Fira Sans", sans-serif;
    text-shadow: -3px -2px 2px white;
    margin: 12px;
}

.intro p {
    /* font-family: "Source Code Pro", monospace; */
    font-family: "Bree Serif", serif;
    margin: 12px;
    margin-bottom: 15px;
}

.skillContainer {
    padding: 0px 12px;
}

.skillItem {
    font-family: "Source Code Pro", monospace;
    text-shadow: -3px -2px 2px white;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin: 8px 0px;
}

.skillContainer .skillItem .fullskill {
    width: 450px;
    background-color: rgba(150, 150, 150, 0.3);
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);

}

.skill {
    /* border: 2px solid black; */
    width: 265px;
    height: 6px;
    background-color: red;
    border-radius: 1px;
    /* animation:skillbar 3s ease 1 forwards; */
}

.hundered {
    /* width: 420px; */
    background: linear-gradient(90deg, rgba(178, 249, 173, 1) 0%, rgba(50, 255, 35, 1) 100%);
    animation: hun 3s ease-in-out 1 forwards;
}

.seventyfive {
    /* width: 370px; */
    background: linear-gradient(90deg, rgba(237, 115, 126, 1) 0%, rgba(255, 249, 35, 1) 100%);
    animation: sv 3s ease-in-out 1 forwards;
}

.fifty {
    /* width: 300px; */
    background: linear-gradient(90deg, rgba(237, 115, 126, 1) 0%, rgba(153, 35, 255, 1) 100%);
    animation: fty 3s ease-in-out 1 forwards;
}

.twentyfive {
    /* width: 125px; */
    background: linear-gradient(90deg, rgba(249, 173, 180, 1) 0%, rgba(255, 35, 35, 1) 100%);
    animation: tf 3s ease-in-out 1 forwards;
}

@keyframes hun {
    from {
        width: 0px;
    }

    to {
        width: 420px;
    }
}
@keyframes sv {
    from {
        width: 0px;
    }

    to {
        width: 370px;
    }
}
@keyframes fty {
    from {
        width: 0px;
    }

    to {
        width: 300px;
    }
}
@keyframes tf {
    from {
        width: 0px;
    }

    to {
        width: 125px;
    }
}

.sidebarGo {
    transform: translate(-440px, 0px);
    position: absolute;
}

.hamburger {
    /* border:3px solid red; */
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.ham {
    margin-top: 10px;
    cursor: pointer;
    /* margin-left: 10px; */
}

.cross {
    margin-left: 173px;
    margin-top: 10px;
    transition: transform 0.8s ease;
    cursor: pointer;
}

.cross-ani {
    animation: cross-rotate 1s ease 0.2s 1;
}

@keyframes cross-rotate {
    100% {
        transform: rotate(360deg);
    }
}

.cross:hover {
    transform: rotate(360deg);
}

.projectContainer{
    height:85vh;
    width:65vw;
    background: rgba(253, 255, 230,1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    margin-top:30px;
    margin-left: 30px;
}

.myproject-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectContainer h1{
    font-family: "Bree Serif", serif;
    text-align: center;
    padding:15px;
    font-size: 2.5rem;
    /* border:2px solid black */
}

.myproject{
    /* border:4px solid green; */
    display: grid;
    grid-template-columns: repeat(2,250px);
    grid-gap: 25px;
    justify-content: space-evenly;
    align-items: center;
    width: 55vw;
}

.myproject a {
    /* margin:8px; */
    /* border:5px solid red; */
    /* margin:40px; */
}
.myproject a button{
    width: 252px;
    padding: 13px 4px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    border-radius: 25px;
    cursor: pointer;
    font-family: "Bree Serif", serif;
    background: #1c1c59;
    color: white;
}

.myproject a button:hover{
    /* background: #3939a1; */
    background: linear-gradient(45deg, rgba(151,151,230,1) 0%, rgba(28,28,89,1) 75%);
}

/* @media screen and (max-width: 1615px) {
    .buttons {
        font-size: 6px;
    }

    .devInfo {
        font-size: 10px;
    }

    .devPic {
        display: none;
    }

    .intro,
    .blogContainer,
    .contactform {
        margin: 50px 8px;*/
        /*remove it
    }
} */
